.section{
    padding-top: 40px;
}

.slick-dots {
  position: absolute;
  bottom: 22px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.main-heading{
    font-size: 27px;
}
.card-custum{
    padding-right: 20px;
    border: none;
}

.sticky__header{
    width: 100%;
    max-width: none;
    height: auto;
    line-height: 80px;
    background: #fff;
    position: sticky;
    top: -1rem;
    left: 1rem;
    box-shadow: 3px 3px 8px -3px #ddd;
    z-index: 999;
}

.sticky__header .top-search-form{
  height: 74px;
  box-shadow: 3px 3px 8px -3px #ddd;
}
.sticky__header .menu-container > .menu-item .menu-link {
  line-height: 1rem !important;
  padding-top: 1rem !important;
  padding-bottom: 2rem !important;
}
.sticky__header .menu-container > .menu-item .sub-menu-container .menu-link {
  line-height: 1rem !important;
  padding-top: 1rem !important;
  padding-bottom: 0.5rem !important;
}


@media screen and (min-width:992px) {
  .sticky__header #header-wrap #logo img {
    height: 60px;
  }
  .sticky__header #header-wrap {
    border-bottom: 1px solid #EEE;
    position: fixed;
    height: 74px;
    top: 0;
    left: 0;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: height .2s ease 0s, background-color .3s ease 0s;
    backface-visibility: hidden;
    will-change: left, top, transform;
  }
  .sticky__header #header-wrap .container .header-row .primary-menu{
    height: 65px;
  }
  
}

@media screen and (max-width:991.98px){
  .sticky__header .menu-container  > .menu-item { margin-left: 2px; }

	.sticky__header  .menu-container  > .menu-item:first-child { margin-left: 0; }

  .sticky__header .menu-container > .menu-item .menu-link {
		line-height: 22px;
		padding-top: 19px;
		padding-bottom: 19px;
	}

	.sticky__header  .menu-container  > .menu-item > .menu-link > div { padding: 0; }

	.sticky__header  .menu-container  > .menu-item > .menu-link i:not(.icon-angle-down) {
		display: inline-block;
		width: 16px;
		top: -1px;
		margin: 0 6px 0 0;
		font-size: 0.875rem;
		line-height: 22px;
	}
}

.izo{
    opacity: 1;
    
    transform: scale(1.75,1.75);
    animation: zoom-in-zoom-out 5s;
}
@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
  }

  .nav-item{
    display: block;
    line-height: 22px;
    padding: 14px 5px;
    color: #444;
    font-weight: 700;
    font-size: 0.8125rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Rajdhani', sans-serif;
  }


  .search{
    width: 120px;
    border-left: 1px solid rgb(245, 228, 228);
    padding: 31px;
    margin: -8px;
  }

  .nav-margin{
    margin: -1.5rem 0 -1.2rem 0;
  }

/* @media screen and (min-width:576px) {
    .carousel-inner{
        display: flex;
    }
    .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/4);
    }

}

.carousel-inner{
    padding: 1em;
} */

svg:hover path {
    fill: white;
    transition: all ease 0.3s;
  }
  svg:hover rect {
    fill: black;
    transition: all ease 0.3s;
  }



@media screen and (max-width:992px){
    .container-xxl{
        padding: 0 30px;
    }
}


@media screen and (max-width:1200px){
    .container-xxl{
        padding: 0 30px;
    }
}

